body,html {
	p,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		line-height: 1.5;
	}

	img{
		display: block;
		max-width: 100%;
	}
	ul,li{
		list-style: none;
	}
	a:hover,.btn-link:hover{
		text-decoration: none;
	}
}
.bg{
	background-position: center center;
	background-size: cover;
}
.colorWhite{
	color: #fff;
}
input[type="checkbox"]:checked{
	background-color: red;
}