.productContent{
	.text{
		font-size: 20px;
	}
}
.productName{
	font-size: 48px;
	font-weight: 700;
}
.productDetail{
	position: relative;
}
.productSale{
	position: absolute;
	left: 40px;
	top: 25px;
	font-weight: 500;
	font-size: 14px;
}
.addCart{
	.modal-title{
		font-size: 48px;
	}
}
.modal.right .modal-dialog {
	position: fixed;
	right:0;
	margin: auto;
	width: 500px;
	height: 100%;
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}